<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item dropdown">
          <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All Products
          </a>
      </li>

      <li class="nav-item dropdown">
          <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="spray-cans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Spray Cans
          </a>
      </li>

      <li class="nav-item dropdown">
          <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="paint-markers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Paint Markers
          </a>
      </li>

      <li class="nav-item dropdown">
          <a class="logo-font font-weight-bold nav-link text-black" href="#" id="replacement-caps-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Replacement Caps
          </a>
      </li>

      <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="safety-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Safety & Protection
        </a>
      </li>
  </ul>
</div>