<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
          <a href="{% url 'products' %}" class="dropdown-item"><strong>All Products</strong></a>
        </li>
        <li class="nav-item dropdown">
          <a href="{% url 'products' %}?category=spray_cans" class="dropdown-item"><strong>Spray Cans</strong></a>
        </li>
        <li class="nav-item dropdown">
          <a href="{% url 'products' %}?category=paint_markers" class="dropdown-item"><strong>Paint Markers</strong></a>
        </li>
        <li class="nav-item dropdown">
          <a href="{% url 'products' %}?category=replacement_caps" class="dropdown-item"><strong>Replacement Caps</strong></a>
        </li>
        <li class="nav-item dropdown">
          <a href="{% url 'products' %}?category=safety_protection" class="dropdown-item"><strong>Safety and Protection</strong></a>
        </li>
    </ul>
</div>